*,
*::before,
*::after { 
    margin: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
}
body{
    background: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

/* navbar */
nav{
    position: fixed;
    background-color: #1ca0e3;
    z-index: 1;
    width: 100%;
    height: 3em;
    background-size: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}
#back-ground{
    background: linear-gradient(to bottom, #44c1ff 10%, white 50%);
    width: 100%;
    height: 60em;
    position: fixed;
    z-index: -1;
}

/* main divs start */
#main-b {
    padding: 2.5% 8%;
    display: flex;
    gap: 2%;
    padding-top: 6em;
    justify-content: space-between;
    min-height: 50em;
}

#main-b>div {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#main-b>div>div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.7em;
    background-color: white;
    width: 90%;
    overflow: hidden;
    /* display: flex; */
}

#main-b>div>div>.h2div {
    z-index: 2;
    padding: 1em 1.2em;
    cursor: pointer;
    border-bottom: 1px solid rgb(205, 205, 205);
    display: flex;
    gap: 15px;
    align-items: center;
}
#main-b>div>div>.h2div>div>h2 {
    font-size: 1.8rem;
}

#main-b>div>div>.h2div>img:first-child {
    height: 2.2em;
    width: 2em;
}

#main-b>div>div>.h2div>div>p {
    font-size: 0.95em;
    margin: 0;
}
#main-b>div>div>.h2div>img:last-child {
    float: right;
    margin-left: auto;
    opacity: 70%;
    transition: .5s;
}

#main-b>div>div>.h2div>img:last-child.active {
    margin-top: -2px;
    transform: rotate(180deg);
}

#main-b>.left-div {
    width: 66%;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

#main-b>.right-div {
    width: 27%;
    right: 11%;
    position: fixed;
    transition: 0.5s;
    /* top: 6em */
}

#main-b>div>div>.content {
    margin-top: 1em;
    padding: 0 1.5em;
    transition: 1s;
}

#main-b>div>div>.content>div {
    margin-bottom: 10px;
}

/* #main-b>div>div>.content.active {
    height: 0;
    margin-top: 0;
    transition: 0.5s;
} */

#main-b>div>div>.insurance>div {
    display: flex;
    border: 1px solid rgb(199, 199, 199);
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

#main-b li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.5em 0em;
    margin-left: -1.8em;
    color: rgb(119, 119, 119);
}

#main-b .dot {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: rgb(119, 119, 119);
}

#main-b>div>div>.insurance>div img {
    width: 50%;
}

#main-b>div>div>.insurance>div>div:first-child h4 {
    font-size: 1.2em;
}

#main-b>div>div>.insurance>div>div:first-child {
    width: 60%;
}

#main-b>div>div>.insurance>div>div:last-child {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
}

#main-b>div>div>.insurance>div>div:last-child>div:last-child>div>p {
    margin: 0;
}
#main-b>div>div>.insurance>div>div:last-child>div:last-child {
    display: flex;
    align-items: center;
    gap: 7px;
}

#main-b>div>div>.insurance>div>div:last-child>div:last-child button {
    background-color: white;
    border: 2px solid #1ca0e3;
    font-weight: 600;
    border-radius: 7px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 16px;
    color: #1ca0e3;
}

#main-b>div>div>.gst>div:first-child{
    display: flex;
    justify-content: space-between;
}
#main-b>div>div>.gst>div:last-child{
    display: flex;
    gap : 10px;
    align-items: center;
}
#main-b>div>div>.gst>div:last-child>#check-gst+label{
    font-size: 1rem;
}
#main-b>div>div>.gst>div:first-child>input,#main-b>div>div>.gst>div:first-child>select{
    width: 32%;
    padding: 10px;
    font-size: 1rem;
    align-items: center;
    border-radius: 7px;
    border: 1px solid gray;
}

/* Guest Details */
#main-b .guest{
    margin-bottom: 1.5em;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    gap : 0.5rem
}
#main-b .guest>div{
    display: flex;
    justify-content: space-between;
}
#main-b .guest>.persons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#main-b .guest>.persons>.person{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#main-b .guest>.persons>.person>div{
    width: 40%;
    display: flex;
    flex-direction: column;
}
#main-b .guest>.persons>.person>div:first-child{
    width: 5rem;
}
#main-b .guest input{
    padding: 5px;
    font-size: 1rem;
    border-radius: 7px;
    border: 1px solid gray;
}
#main-b .guest>.persons>.person>div>select{
    padding: 7px;
    border-radius: 7px;
}
#main-b .guest>#add-guest{
    background-color: #1ca0e3;
    color: white;
    margin-bottom: 5px;
}
#main-b .guest>.email,#main-b .guest>.mobile{
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    align-items: flex-start;
}
#main-b .guest>.mobile>div{
    display: flex;
}
#main-b .guest>.mobile>div>div{
    background-color: #1ca0e3;
    color: white;
    padding: 5px 10px;
}
#main-b .guest>.email>input,#main-b .guest>.mobile>div>input{
    width: 15rem;
    border-radius: 7px;
    border: 1px solid grey;
}
#main-b .guest>.mobile>div>input{
    border-radius: 0 7px 7px 0;
}
#main-b .guest>hr+div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 10px
}
#main-b .guest>hr+div>input{
    transform: scale(1.3);
}

/* hotel info section */
.hotel-info{
    display: flex;
    flex-direction: column;
    gap: 1.5em
}
.hotel-info>.infoDiv{
    height: 150px;
    display: flex;
    gap: 1em;
}
.hotel-info>.infoDiv>.himgDiv{
    width: 20%;
    max-width: 150px;
}
.hotel-info>.infoDiv>.himgDiv>img{
    width: 100%;
    border-radius: 15px;
    height: 100%;
}
.hotel-info>.infoDiv>.hinfoDiv{
    display: flex;
    width: 75%;
    flex-direction: column;
    gap: 0.3em
}
.hotel-info>.infoDiv .haddress{
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: rgb(115, 115, 115);
}
.hotel-info .hreview{
    color: rgb(115, 115, 115);
}
.hotel-info .bggreen{
    background-color: green;
    padding: 1.5px 4px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: white;
    margin-right: 5px;
    font-weight: 600;
}
.hotel-info .htitle{
    font-weight: 550;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    margin-bottom: -5px;
}
.hotel-info .hdeal>span>ion-icon{
    font-size: 16px;
    margin-right: 5px;
}
.hotel-info .hdeal>span{
    color: white;
    background-color: #1ca0e3;
    padding: 2px 8px;
    display: flex;
    overflow: hidden;
    align-items: center;
    font-weight: 600;
    font-size: 0.9em;
    border-radius: 50px;
}
.hotel-info .hdeal{
    display: flex;
    background-color: #bbe8ff;
    color: #1ca0e3;
    font-weight: 600;
    font-size: 0.95em;
    padding: 3px;
    padding-right: 15px;
    width: fit-content;
    gap: 4rem;
    margin-left: -4px;
    border-radius: 50px;
}
.hotel-info .hstars{
    color: goldenrod; 
    margin-bottom: -10px;
}
.hotel-info>.check-in{
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#bbe8ff,white,#bbe8ff)
}
.hotel-info>.check-in>div{
    text-align: center;
}
.hotel-info>.check-in>div p{
    margin-bottom: 0;
    font-size: 0.95rem;
    /* color: white; */
    font-weight: 600;
}
.hotel-info>.check-in .date-picker,.hotel-info>.check-in select,#numguest{
    padding: 0.5rem;
    /* color: white; */
    border-radius: 3px;
    font-weight: 600;
    height: 2.4rem;
    border: 1px solid black;
}
.hotel-info>.check-in #guestDiv{
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
    flex-direction: row;
}
/*submit button */
#main-b>div>input[type="submit"] {
    width: 70%;
    color: white;
    background-color: #1ca0e3;
    font-weight: 600;
}
/* right div */
.right-div .offerDiv>div{
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
    padding: 1em;
    transition: 0.5s;
    cursor: pointer;
}
.right-div .offerDiv>div.active{
    background-color: #bbe8ff;
    /* color: white; */
    border-radius: 10px;
    
}
.right-div .offerDiv>div>input{
    margin-top: 1em;
    width: 1rem;
    /* accent-color: #bbe8ff;
    outline: #1ca0e3; */
    transition: 0.5s;
}
.right-div .offerDiv>div>div{
    width: 95%;
}
.right-div .offerDiv>div>div>div{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.3rem;
}
.right-div .offerDiv>div>div>div>div{
    font-size: 1rem;
    border-radius: 10px;
    padding: 2px 5px;
}

/* price summary */
#priceSumDiv>div{
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: 1em
}
#priceSumDiv{
    gap:0.3em;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;

}
#priceSumDiv>#applied{
    justify-content: flex-start;
    gap: 5px;
    /* border: 1px solid black; */
    padding: 0;
    width: 10rem;
    color: green;
    font-weight: 600;
    align-items: center;
}
#priceSumDiv>#applied::before{
    /* align-self: center; */
    margin-top: 0.5rem;
    content: url("https://img.icons8.com/?size=20&id=70yRC8npwT3d&format=png");
}
#priceSumDiv>hr{
    margin: 0;
}
#priceSumDiv h4{
    font-weight: 600;
    font-size: 1.4em;
}
#priceSumDiv .roomstr{
    font-size: 0.9rem;
}
#disc{
    background-color: #44c1ff;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}


.lds-dual-ring {
    position: fixed;
    top: 37%;
    left: 45%;
    display: inline-block;
    /* backdrop-filter: blur(1px); */
    /* z-index: 5; */
    /* background-color: red; */
    width: 10em;
    height: 10em;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 10em;
    height: 10em;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #288de0;
    border-color: #288de0 transparent #288de0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }






/* media queries mid screen */
/* @media screen and (min-width:767px) and (max-width:1024px) {
    nav #menu{
        margin: 0.7em;
    }
    #menuBar #close>ion-icon{
        margin-top: 1.1em;
        z-index: 2;
    }
} */
@media only screen and (max-width : 1150px) and (min-width: 801px) {
    #main-b {
        padding: 2% 2%;
        margin-top: 4em;
    }

    #main-b>.left-div {
        width: 60%;
    }

    #main-b>.right-div {
        right: 2.5%;
        width: 40%;
    }

    #main-b>div>div>.insurance>div>div:last-child>div:last-child {
        flex-direction: column;
        align-items: flex-end;
    }

    #main-b .guest>.persons>.person>div:first-child{
        width: 50%;
    }
    .hotel-info>.infoDiv>.himgDiv{
        width: 25%;
    }
    .hotel-info>.check-in{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items:center;
    }
    .hotel-info .hdeal{
        gap: 1rem
    }
}

/* media queries small screen */
@media screen and (max-width : 800px) and (min-width: 420px){
    nav #menu{
        margin: 0.7em;
    }
    #menuBar #close>ion-icon{
        margin-top: 1.1em;
    }
    #main-b {
        flex-direction: column;
        align-items: center;
        padding: 10% 0%;
        margin-top: 2em;
    }

    #main-b>.left-div {
        width: 90%;
    }

    #main-b>.right-div {
        position:relative;
        right: auto;
        width: 90%;
        margin-top: 3%;
    }

    #main-b>div>div>.insurance>div>div:last-child>div:last-child {
        flex-direction: column;
        align-items: flex-end;
    }

    #main-b .guest>.persons>.person>div:first-child{
        width: 5rem;
    }
    .hotel-info>.infoDiv>.himgDiv{
        width: 40%;
    }
    .hotel-info>.infoDiv>.himgDiv>img{
        height: 90%;
    }
    .hotel-info>.check-in{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .hotel-info .hdeal{
        padding-right: 0;
    }
    .hotel-info .hdeal>div{
        display: none;
    }
}
@media screen and (max-width:420px){
    nav #menu{
        margin: 0.7em;
    }
    #menuBar #close>ion-icon{
        margin-top: 1.1em;
    }
    #main-b {
        flex-direction: column;
        align-items: center;
        padding: 10% 0%;
        margin-top: 2em;
    }

    #main-b>.left-div {
        width: 90%;
    }

    #main-b>.right-div {
        position:relative;
        right: auto;
        width: 90%;
        margin-top: 3%;
    }

    #main-b>div>div>.insurance>div>div:last-child>div:last-child {
        flex-direction: column;
        align-items: flex-end;
    }

    #main-b .guest>.persons>.person>div:first-child{
        width: 5rem;
    }
    .hotel-info>.infoDiv{
        height: 11em;
    }
    .hotel-info>.infoDiv>.himgDiv{
        width: 40%;
    }
    .hotel-info>.infoDiv>.himgDiv>img{
        height: 90%;
    }
    .hotel-info .hdeal{
        padding-right: 0;
    }
    .hotel-info .hdeal>div{
        display: none;
    }
    .hotel-info>.check-in{
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center !important;
    }
}