* {
    margin: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

#navbar {
    height: 5em;
}

#main-b {
    background: linear-gradient(to bottom, #5dc9ff 10%, #57c7ff 17em, #f3fbff 17em);
    padding: 2% 8%;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    min-height: 50em;
}

#main-b>div {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#main-b>div>div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.7em;
    background-color: white;
    width: 90%;
    overflow: hidden;
    /* display: flex; */
}

#main-b>div>div>.h2div {
    z-index: 2;
    padding: 1em 1.2em;
    cursor: pointer;
    border-bottom: 1px solid grey;
    display: flex;
    gap: 15px;
    align-items: center;
}

#main-b>div>div>.h2div.active {
    border-bottom: none;
}

#main-b>div>div>.h2div>img:first-child {
    height: 2.2em;
    width: 2em;
}

#main-b>div>div>.h2div>img:last-child {
    float: right;
    margin-left: auto;
    opacity: 70%;
    transition: .5s;
}

#main-b>div>div>.h2div>img:last-child.active {
    margin-top: -2px;
    transform: rotate(180deg);
}

#main-b>.left-div {
    width: 66%;
}

#main-b>.right-div {
    width: 27%;
    position: fixed;
    right: 11%
}

#main-b>div>div>.content {
    margin-top: 15px;
    padding: 0 1.5em;
    transition: 1s;
}

#main-b>div>div>.content.active {
    height: 0;
    margin-top: 0;
    transition: 0.5s;
}

#main-b>div>div>.insurance>div {
    display: flex;
    border: 1px solid rgb(199, 199, 199);
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

#main-b li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.5em 0em;
    margin-left: -1.8em;
    color: rgb(119, 119, 119);
}

#main-b .dot {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: rgb(119, 119, 119);
}

#main-b>div>div>.insurance>div img {
    width: 50%;
}

#main-b>div>div>.insurance>div>div:first-child h4 {
    font-size: 1.2em;
}

#main-b>div>div>.insurance>div>div:first-child {
    width: 60%;
}

#main-b>div>div>.insurance>div>div:last-child {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
}

#main-b>div>div>.insurance>div>div:last-child>div:last-child {
    display: flex;
    align-items: center;
    gap: 7px;
}

#main-b>div>div>.insurance>div>div:last-child>div:last-child button {
    background-color: white;
    border: 2px solid orange;
    font-weight: 600;
    border-radius: 7px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 16px;
    color: orange;
}

#main-b>div>button {
    width: 80%;
    padding: 15px;
    font-size: 1.2em;
    background-color: #5dc9ff;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 15px;
}












/* media queries mid screen */
@media only screen and (max-width : 1150px) and (min-width: 801px) {
    #main-b {
        padding: 2% 5%;
    }

    #main-b>.left-div {
        width: 55%;
    }

    #main-b>.right-div {
        right: 7%;
        width: 35%;
    }

    #main-b>div>div>.insurance>div>div:last-child>div:last-child {
        flex-direction: column;
        align-items: flex-end;
    }
}

/* media queries small screen */
@media only screen and (max-width : 800px) {
    #main-b {
        flex-direction: column;
        align-items: center;
        padding: 10% 5%;
    }

    #main-b>.left-div {
        width: 90%;
    }

    #main-b>.right-div {
        position: inherit;
        right: auto;
        width: 90%;
        margin-top: 3%;
    }

    #main-b>div>div>.insurance>div>div:last-child>div:last-child {
        flex-direction: column;
        align-items: flex-end;
    }
}