* {
    margin: 0;
    padding: 0;
}

/* body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/background\ image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* -webkit-filter: blur(8px); */


header {
    position: relative;
}

nav {
    width: 100%;
    /* position: fixed; */
    display: flex;
    top: 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1ca0e3 ;
    height: 9vh;
    z-index: 2;
}

nav div {
    display: flex;
    align-items: center;
}

nav div:nth-child(2) {
    width: 55%;
    justify-content: space-evenly;
}

nav div a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

nav div a:hover {
    cursor: pointer;
    color: #2f3f4b9a;
}

nav>div img {
    width: 140px;
    height: 120px;
}

#last {
    gap: 3px;
}

nav>#last a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

nav>#last {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
#last+div{
    padding-right: 30px;
}

#last:hover {
    cursor: pointer;
    color: #2f3f4b9a;
}

#last a:hover {
    cursor: pointer;
    color: #2f3f4b9a;
}

nav div:last-child {
    display: none;
}

#menuBar {
    display: none;
}

/* section{
            position: absolute;
            top: 15%;
            left: 20%;
            height: 30vh;
        }
        section div{
            width: 80%;
            text-align: center;
            border: 1px solid red;
            padding: 20px;
        }
        section div h1{
            font-size: 70px;
            color: white;
        }

        section div p{
            width: 70%;
            margin: auto;
            color: white;
            margin-top: 20px;
            font-size: 17px;
        } */



@media screen and (min-width:767px) and (max-width:1024px) {
    nav {
        width: 100%;
        justify-content: space-between;
    }

    nav div img {
        height: 120px;
        width: 160px;
    }

    nav div:nth-child(2) {
        display: none;
    }

    #last {
        display: none;
    }

    nav div:last-child {
        display: block;
    }

    nav div:last-child p {
        font-size: 35px;
        font-weight: bold;
        color: white;
    }

    #menuBar {
        display: none;
        position: fixed;
        top: 0%;
    }

    #menuBar div {
        position: fixed;
        background-color: #4466829a;
        width: 100%;
        height: 100vh;
        right: 0;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        text-align: center;
        gap: 25px;
        font-size: 25px;
    }

    #menuBar div a {
        text-decoration: none;
        color: white;
        font-weight: 300;
    }

    #menuBar div a:hover {
        color: blue;
        text-decoration: underline;
    }

    #menuBar div #close {
        font-size: 35px;
        font-weight: bold;
        color: white;
        margin-left: 90%;
        display: flex;
        padding-bottom: 50px;
    }
}

@media screen and (min-width:200px) and (max-width:766px) {
    nav {
        width: 100%;
        justify-content: space-between;
    }

    nav div img {
        height: 120px;
        width: 160px;
    }

    nav div:nth-child(2) {
        display: none;
    }

    #last {
        display: none;
    }

    nav div:last-child {
        display: block;
    }

    nav div:last-child p {
        font-size: 35px;
        font-weight: bold;
        color: white;
    }

    #menuBar {
        
        display: none;
        position: fixed;
        top: 0%;
    }

    #menuBar div {
        position: fixed;
        background-color: #2f3f4b9a;
        width: 100%;
        height: 100vh;
        right: 0;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        text-align: center;
        gap: 25px;
        font-size: 25px;
    }

    #menuBar div a {
        text-decoration: none;
        color: white;
        font-weight: 300;
    }

    #menuBar div a:hover {
        color: blue;
        text-decoration: underline;
    }

    #menuBar div #close {
        font-size: 35px;
        font-weight: bold;
        color: white;
        margin-left: 90%;
        display: flex;
        padding-bottom: 50px;

    }
}